
  <!-- <!DOCTYPE html>
<html>
  <head>
    <title>Educational registration form</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <style>
      html, body {
      min-height: 100%;
      }
      body, div, form, input, select, p { 
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Arial, sans-serif;
      font-size: 16px;
      color: #eee;
      }
      body {
    
      background-size: cover;
      }
      h1, h2 {
      text-transform: uppercase;
      font-weight: 400;
      }
      h2 {
      margin: 0 0 0 8px;
      }
      .main-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 25px;
      background: rgba(0, 0, 0, 0.5); 
      }
      .left-part, form {
      padding: 25px;
      }
      .left-part {
      text-align: center;
      }
      .fa-graduation-cap {
      font-size: 72px;
      }
      form {
      background: rgba(0, 0, 0, 0.7); 
      }
      .title {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      }
      .info {
      display: flex;
      flex-direction: column;
      }
      input, select {
      padding: 5px;
      margin-bottom: 30px;
      background: transparent;
      border: none;
      border-bottom: 1px solid #eee;
      }
      input::placeholder {
      color: #eee;
      }
      option:focus {
      border: none;
      }
      option {
      background: black; 
      border: none;
      }
      .checkbox input {
      margin: 0 10px 0 0;
      vertical-align: middle;
      }
      .checkbox a {
      color: #26a9e0;
      }
      .checkbox a:hover {
      color: #85d6de;
      }
      .btn-item, button {
      padding: 10px 5px;
      margin-top: 20px;
      border-radius: 5px; 
      border: none;
      background: #26a9e0; 
      text-decoration: none;
      font-size: 15px;
      font-weight: 400;
      color: #fff;
      }
      .btn-item {
      display: inline-block;
      margin: 20px 5px 0;
      }
      button {
      width: 100%;
      }
      button:hover, .btn-item:hover {
      background: #85d6de;
      }
      @media (min-width: 568px) {
      html, body {
      height: 100%;
      }
      .main-block {
      flex-direction: row;
      height: calc(100% - 50px);
      }
      .left-part, form {
      flex: 1;
      height: auto;
      }
      }
    </style>
  </head>
  <body> -->

    <% if (location && location.error) { %>
      <div class="alert alert-danger" role="alert"><%- JSON.stringify(location.error) %></div>
      <% } %>
    <br>
    <br>
    <div class="card">
      <div class="card-body">
        <h1>Add Location</h1>
      </div>
  <div class="card-body">
            <form name="myForm" action="/location/save"   method="post" >	
              <div class="form-group_locId">	
                  
                <label for="locationId">Location Id:</label>	
                <input type="number"  id="locationId" name="locationId" value="<%= location.locationId %>" autocomplete="on">	
              </div>	
              <div class="form-group">	
                <label for="locationName">Location Name:</label>	
                <input type="text"  id="locationName" name="locationName" value="<%= location.locationName %>" pattern="^([a-zA-Z]+\s)*[a-zA-Z]+$" title="LocationName only letters and single spaces."autocomplete="off" required>	
              </div>	
              <br>	
              <div class="form-group">	
                <label for="locationLatitude">Location Latitude:</label>	
                <input type="number"  id="locationLatitude" name="locationLatitude" value="<%= location.locationLatitude %>"  min=-90 max=90 step=.00001 autocomplete="off" required >	
              </div>	
              <br>	
              <div class="form-group">	
                <label for="locationLongitude">Location Longitude:</label>	
                <input type="number"   id="locationLongitude" name="locationLongitude" value="<%= location.locationLongitude %>"  min=-180 max=180 step=.00001 autocomplete="off" required>	
              </div>
                  <br>
        <div class="form-group">
          <input type="submit" class="btn btn-info" title="Submits a POST /save request" value="Create" />
        </div>
      </form>
    </div>
  </body>
</html>
