<!--
*  Location delete view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display the item to delete.
*
* 
-->

  <% if (location.error) { %>
  <div class="alert alert-danger" role="alert"><%- location.error %></div>
  <% } %>
  <br />
  <br />
  <div class="card-body">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Location ID</th>
          <th scope="col">Location Name</th>
          <th scope="col">Bounding box</th>	
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <th scope="row"><%= location.id %></th>
            <td><%= location.locationName%></td>
            <td>
              <table>
                <tr class="coord-cell-header">
                  <th>Point#</th>
                  <th class="coord-cell">Latitude</th>
                  <th class="coord-cell">Longitude</th>
                </tr>
                <% for(let coordsIndex = 0; coordsIndex< location.coordinate.length;
                coordsIndex++) { %>
                <tr>
                  <td><%= coordsIndex+1%></td>
                  <td class="coord-cell">
                    <%= location.coordinate[coordsIndex].latitude%>
                  </td>
                  <td class="coord-cell">
                    <%= location.coordinate[coordsIndex].longitude%>
                  </td>
                </tr>
                <% } %>
              </table>
            </td>
    
            <td>
              <form action="/location/delete/<%=location.id%>" method="post">
                <input
                  type="submit"
                  class="btn btn-danger delete"
                  value="Delete"
                  onclick="return alert('Do you want to delete?')"
                />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>