<!--
*  Location details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a resource.
*
* 
-->
<br>
<br>
<br>

<% if (location.error) { %>
  <div class="alert alert-danger" role="alert"><%- location.error %></div>
  <% } %>
  
  <div class="card-body">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Location Id</th>	
          <th scope="col">Location Name</th>
          <th scope="col">Quad Coordinates</th>	
          
          <th >Actions</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <th scope="row"><%= location.id %></th>
          <td><%= location.locationName%></td>
          <td>
            <table>
              <tr class="coord-cell-header">
                <th>Point#</th>
                <th class="coord-cell">Latitude</th>
                <th class="coord-cell">Longitude</th>
              </tr>
              <% for(let coordsIndex = 0; coordsIndex< location.coordinate.length;
              coordsIndex++) { %>
              <tr>
                <td><%= coordsIndex+1%></td>
                <td class="coord-cell">
                  <%= location.coordinate[coordsIndex].latitude%>
                </td>
                <td class="coord-cell">
                  <%= location.coordinate[coordsIndex].longitude%>
                </td>
              </tr>
              <% } %>
            </table>
          </td>
          <td>
            <a class="btn btn-success edit" href="/location">Done</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>