<!--
*  Location details view
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to display a resource.
*
* 
-->

<% if (location.error) { %>
  <div class="alert alert-danger" role="alert"><%- location.error %></div>
  <% } %>
  
  <div class="card-body">
  
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Location Id</th>	
          <th scope="col">Location Name</th>
          <th scope="col">Location Latitude</th>	
          <th scope="col">Location Longitude</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <th scope="row"><%= location.locationId %></th>
            <td><%= location.locationName%></td>
            <td><%= location.locationLatitude%></td>	
            <td><%= location.locationLongitude%></td>
          <td>
            <a class="btn btn-success edit" href="/location">Done</a>
          </td>
        </tr>
  
      </tbody>
    </table>