<!--
*  Team index view
*  (the default page for this resource)
*  
*  Uses HTML and embedded JavaScript (EJS) 
*  to dyanmically create a webpage to list all of this type of resource.
*
*
* based on https://www.mynotepaper.com/nodejs-simple-crud-with-expressjs-and-mysql
* repo https://github.com/mdobydullah/nodejs-crud-with-expressjs-mysql
-->

<% if (locals.locations.success) { %>
  <div class="alert alert-success" role="alert"><%- location.success %></div>
  <% } %>
  

  <% if (locals.locations.error) { %>
  <div class="alert alert-danger" role="alert"><%- location.error %></div>
  <% } %>
  
  <div class="card">
    <div class="card-header">
      <br>
      <br>
      <br>
      <br>
      <br>
      <ul class="nav nav-pills w-100">
        <li class="nav-pill active">
          <a class="nav-link">Locations</a>
        </li>
        <li class="nav-pill ml-auto">
          <a class="nav-link active" href="/location/create"><i class="fas fa-plus"></i></a>
        </li>
      </ul>
    </div>
    <div class="card-body">
  
      <% if(locations.length) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Location ID</th>	
            <th scope="col">Location Name</th>	
            <th scope="col">Bounding box</th>	
            <th >Actions</th>
          </tr>
        </thead>
        <tbody>
          <% for(let i = 0; i< locations.length; i++) { %>
          <tr>
            <th scope="row"><%= locations[i].id %></th>
            <td><%= locations[i].locationName%></td>
            <!-- <td><%= locations[i].locationLatitude%></td>	
            <td><%= locations[i].locationLongitude%></td> -->
            <table>
              <tr class="coord-cell-header">
                <th>Point#</th>
                <th class="coord-cell">Latitude</th>
                <th class="coord-cell">Longitude</th>
              </tr>
              <% for(let coordsIndex = 0; coordsIndex<
              locations[i].coordinate.length; coordsIndex++) { %>
              <tr>
                <td><%= coordsIndex+1%></td>
                <td class="coord-cell">
                  <%= locations[i].coordinate[coordsIndex].latitude%>
                </td>
                <td class="coord-cell">
                  <%= locations[i].coordinate[coordsIndex].longitude%>
                </td>
              </tr>
              <% } %>
            </table>
          </td>
          <td>
            <a
              class="btn btn-primary details"
              href="../location/details/<%=locations[i].id%>"
              ><i class="fab fa-sistrix" title="test"></i
            ></a>
            <a
              class="btn btn-success edit"
              href="../location/edit/<%=locations[i].id%>"
              ><i class="fas fa-pencil-alt"></i
            ></a>
            <a
              class="btn btn-danger delete"
              href="../location/delete/<%=locations[i].id%>"
              ><i class="fas fa-trash-alt"></i
            ></a>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>
  </td>
           
      <!-- if result is empty -->
      <% if(!locations.length) { %>
      <p class="text-center">No locations found!</p>
      <% } %>
  
      <br/>
      <!-- <h3>Mouse over icons to see where you will go.</h3>
   -->
    </div>
  </div>